{% extends 'base.html' %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="form-login">

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" id="submit-button">Login</button>
    </form>
    
    <p id="login-p"> 
        Forgot your password? <a href="{% url 'password_reset' %}">Reset Password here</a><br><br>

        Don't have an account?
        <a href="{% url 'users:createAccount' %}">Create account here</a>
    
    </p>
</div>



{% endblock %}