{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}"> -->
{% endblock %}

{% block content %}


    {% if user.is_authenticated %}
    <div id="user-profile">
    <!-- <p> Hi {{ request.user.birth_date }} </p><br> -->
    <p> Hi {{ request.user }} </p><br>
    <p> {{ user.username }}</p> <br>
    <p> {{ request.user.email }}</p>
    <!-- <img src="images/{{user.get_profile.avatar }}"> -->
    </div>
    {% else %}
    <div id="user-create"></div>
        <a href="{% url 'login' %}">Please login to do write news stories</a>
        <a href="{% url 'users:createAccount' %}">Create Account</a>

    </div>
    {% endif %}
    
    

{% endblock %}