{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    <div id="user-profile">
    <h2> Hi {{ request.user }}! </h2><br>
    <p> Name: {{ request.user }} </p><br>
    <p> Username: {{ user.username }}</p> <br>
    <p> Email: {{ user.email }}</p><br>
    <p> Birth date: {{ user.birth_date }} </p><br>
    <p> Location: {{ user.location }} </p><br>

    <!-- <img src="images/{{user.get_profile.avatar }}"> -->
    </div>
    {% else %}
    <div id="user-create"></div>
        <a href="{% url 'login' %}">Please login or create an account to write a news story.</a>
        <a href="{% url 'users:createAccount' %}">Create Account</a>

    </div>
    {% endif %}

{% endblock %}