@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 90%;
    display: flex;
    justify-content: center;
}

#New-Story {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
#New-Story:hover {
    color: #DFC5FE;
}

nav {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}


form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* .form-item label {  */
    /* align-items: left; */
    /* flex-basis: 200px; */
    /* font-size: 30px; */
/* } */

#form-content{
    min-height: 60px;
}
form p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

form input{
    /* flex-basis: 20%; */
    border: 4px solid #DFC5FE;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    min-width: 200px;
    min-height: 20px;
}

form pub_date{

}


form input:hover{
    border: 4px solid #818181;
}

#submit-button {
    width: 400px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #000;
}
#submit-button:hover {
    border: 4px solid #818181;
    background-color: #DFC5FE;
    color: #FFF;
}