@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
    font-family: monospace;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    padding-left: 20%;
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    /* if small on phone, left align header text */
    /* Change at 1200 */
}

#New-Story {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
#New-Story:hover {
    color: #DFC5FE;
}

#createStory-text {
    text-align: center;
}
nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
    font-size: 30px;
}

/* ################################################################################################################################## */
/* FORMS */
/* ################################################################################################################################## */

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

form label { 
    /* label tag doesn't have the property 'width' */
    display: inline-block;
    width: 250px;
    padding-right: 5px;
    color: darkcyan;
    align-items: center;
}

.form-item {
    align-items: center;
}

#form-content{
    min-height: 120px;
}

#form-author, #form-content, #form-author, #form-title, #form-link {
    min-width: 705px;
}

#id_pub_date_0.form-item , #id_pub_date_1.form-item , #form-birth_date.form-item {
    text-align: center;
    /* max-width: 200px; */
}

#id_username, #id_email, #form-bio, #form-location, #id_password1, #id_password2, #id_password {
    min-width: 705px;
}


form input, textarea {
    border: 4px solid #DFC5FE;
    background-color: #FFF;
    /* padding: 5px; */
    font-size: 18px;
    border-radius: 5px;
    min-height: 40px; 
    width: 350px;
}

form input:hover{
    border: 4px solid #818181;
}
form textarea:hover{
    border: 4px solid #818181;
}

#submit-button {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #000;
    border: 4px solid #DFC5FE;
    background-color: #FFF;
    min-height: 40px;
    font-size: 30px;
    font-family: monospace;
}
#submit-button:hover {
    border: 4px solid #818181;
    background-color: #DFC5FE;
    color: #FFF;
}

#create-account-p, #login-p{
    text-align: center; 
}

/* .helptext {
    display: none;
} */

form ul {
    display: none;
}

#create-form, #form-login, #form-createaccount {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
/* 
div #id_password {
    display: none;
}
#id_password {
    display: none;
}
p label #id_password {
    display: none;
} */