{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}



<div id="all-stories">
    <p>Category: {{story.category_type}}</p><br><br>
    <p>
        story.objects.annotate(num_products=Count('story.category_type'))
        Num = Count('story.category_type')
    </p>


    <p>There are {{ Num }} stories categorised as {{story.category_type}} </p>

    {% if story.category_type %}

        {% for story in stories.all %}
            loop: {{ forloop.counter }}

            {% include "./storyCard.html" with story=story %}
        {% endfor %}
    {% else %}
    {% endif %}
        <p>No stories have been written with the category {{story.category_type}}.</p>

</div>

{% endblock %}
<!-- I also have list_articles = Articles.objects.filter(author_id = author_id) -->
<!-- # context['latest_stories'] = NewsStory.objects.all().order_by('author')[:4] -->




