{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}



<div id="all-stories">
    <p>Category: {{story.category_type}}<br>
        There are {{story.Category_CHOICES|length}} categories. <br>
        {{story.choice_type|length}} stories have been categorised as {{story.category_type}}<br>
        Title: {{object.title}}
        category_type: {{object.category_type}}
    </p><br><br>


    {{stories.all|length}}

        {% for category in story.Category_CHOICES %}
            {{story.category_type}}
        {% endfor %}

    {% for category in story.Category_CHOICES %}
        {{category}}
    {% endfor %}


    {% if object.stories %}

        {% for story in object.stories.all %}
            {% include "./storyCard.html" with story=story %}
        {% endfor %}

    {% else %}
        <p>There are no stories categorised as {{story.category_type}} </p>
     {% endif %}
    <!-- {% for category in categories %}
        <a href="#"><h3>{{ category }}</h3></a>
    {% endfor %} -->


</div>

{% endblock %}


