{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div id="create-form">
    <form action= "" method="post">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <input type="submit" value="submit" class="submit-button">
    </form>
</div>

{% else %}

<div id="createStory-text">
    <br><p> Please login or create an account to write a news story.</p>
    <a href="{% url 'login' %}">Login</a><br><br><br>
    <a href="{% url 'users:createAccount' %}">Create Account</a>
</div>

{% endif %}

{% endblock %}
