{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated and user == story.author %}
    <h2>Delete post</h2>
    <div id="delete-story-form">
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}

            Are you sure you want to delete the following post?:<br><br>

            <button type="submit" id="submit-button">Delete</button><br>
            <a href="{% url 'news:userStoryEdit' story.id %}">Cancel</a>
        </form>
    </div>

    <div id="story-wrapper">
        <h2>{{ story.title }}</h2>
        <h4> 
            <a href="{% url 'news:userStory' story.author %}">{{story.author}}</a>
        </h4>
        <h4>Category:<a href="{% url 'news:categoryStory' story.category_type %}">{{story.category_type}}</a></h4>
        <p><a href="{% url 'news:userStoryEdit' story.id %}">Edit</a></p>

        <div id="story-content">
            <!-- <img src="{% static '/news/images/placeholder-5.jpg' %}"> -->
            {% if story.image_link|length != 0 %}
            <img src="{{ story.image_link }}">
                {% else %}
            <img src="https://picsum.photos/600">
            {% endif %}
            {{ story.content|linebreaks }}
        </div>
    </div>
{% else %}
    <a href="{% url 'login' %}">Please login or create an account to write/edit a news story.</a>
{% endif %}

{% endblock %}