{% extends "base.html" %} {% load static %} {% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}" />
{% endblock %} {% block content %} {% if user.is_authenticated and user ==
story.author %}

<p><a href="{% url 'news:userStoryDelete' story.id %}">Delete</a></p>

<div id="edit-story-form">
  <h2>Edit post</h2>
  <form action="" method="post">
    {% csrf_token %} {{ form.media }} {{ form.as_p }}
    <button type="submit" id="edit-button">Save Changes</button>
  </form>
</div>

{% else %}
<a href="{% url 'login' %}"
  >Please login or create an account to write/edit a news story.</a
>
{% endif %} {% endblock %}
