{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div id="filter-auth"></div>
    {% if user.is_authenticated %}
    <a id="New-Story" href="{% url 'news:newsStory' %}">Write New Story</a>
    {% else %}
    <a href="{% url 'login' %}">Please login or create an account to write a news story.</a>
    {% endif %}
</div>

<div id=filter-script>
    <script>
        function goToNewPage() {
            if(document.getElementById('target').value){
                window.location.href = document.getElementById('target').value;
            }
        }
    </script>
    <form name="dropdown">
        <p><label for="id_q">Search:</label>
        <select name="selected" id="target" accesskey="E">
        <!-- <option selected>Select...</option> -->
        {% for x,y in form.fields.category.choices %}
            <option value="?category={{ x }}"{% if form.fields.category.value == x %} selected{% endif %}>{{ y }}</option>
        {% endfor %}  
        </select>
        <input type="button" value="Go" id="submit-button" onclick="goToNewPage(document.dropdown.selected)"></p>
    </form>
</div>



    

    {% if latest_stories %}
    <h2>Latest News</h2>
    <div id="latest-stories">
            {% for story in latest_stories %}
                <!-- <p>{{ story.title }}</p> -->
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
    </div>
{% endif %}
   

    <h2>All News</h2>
    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
                <!-- <p>{{ story.title }}</p> -->
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

{% endblock %}
          <!-- {% for category in Category_CHOICES %} -->
            <!-- <option value="{{category.id}}">{{category.name}}</option> -->
            <!-- {% endfor %} -->
