{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    <a id="New-Story" href="{% url 'news:newsStory' %}">Write New Story</a>
    {% else %}
    <a href="{% url 'login' %}">Please login or create an account to write a news story.</a>
    {% endif %}

    {{story.category_type}}
    {% for story in story.Category_CHOICES %}
        {{category}}

    {% endfor %}
    <div class="col-md-4">
        <div class="form-group">
        <label>Gender</label>
        <select name="gender" class="selectpicker" data-title="Select Gender" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
        {% for x,y in form.fields.gender.choices %}
           <option value="{{ x }}"{% if form.fields.gender.value == x %} selected{% endif %}>{{ y }}</option>
        {% endfor %}
        </select>
      </div>  
    </div>


    <!-- <form method="get" action="/search1/">
        <p><label for="id_q">Search:</label>
        <input type="text" name="q" id="id_q" value="{{ query }}" />
        <select name="category">
          {% for category in Category_CHOICES %}
            <option value="{{category.id}}">{{category.name}}</option>
          {% endfor %}  
        </select>
        <input type="submit" value="Submit" /></p>
    </form> -->

    {% for category in story.Category_CHOICES %}
        <a href="{% url 'news:filter' %}?category={{category}}">{{category}}</a>
    {% endfor %}  




    {% if latest_stories %}
        <h2>Latest News</h2>
        <div id="latest-stories">

            
            {% for story in latest_stories %}
                <!-- <p>{{ story.title }}</p> -->
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
            
        </div>
    {% endif %}

    <h2>All News</h2>
    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
                <!-- <p>{{ story.title }}</p> -->
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

{% endblock %}