{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="index-text">

    <div id="index-auth">

        {% if user.is_authenticated %}
            <a id="New-Story" href="{% url 'news:newsStory' %}">Write New Story</a>
        {% else %}
            <a href="{% url 'login' %}">Please login or create an account to write a news story.</a><br><br>
        {% endif %}
    </div>

    <div id="filter-text">
        <p>Search by<a id="click-tag" href="{% url 'news:filter' %}">category</a><br></p>
            
        <p>View<a id="click-tag" href="{% url 'news:userList' %}"> authors</a></p>
    </div>
</div>

    <h2>Latest News</h2>
    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                <!-- <p>{{ story.title }}</p> -->
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% endif %}
    </div>


    <h2>All News</h2>
    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
                <!-- <p>{{ story.title }}</p> -->
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

{% endblock %}
