{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    
    <div id="story-wrapper-text">

        <div id="story-wrapper-text-left">
            <h2>{{ story.title }}</h2>
            <!-- <h4>{{ story.author }}</h4> -->
            <p> 
                Author: <a id="click-tag" href="{% url 'news:userStory' story.author %}">{{story.author}}</a>
            </p>
            <!-- <p>Category: {{story.gender}}</a></p> -->
            <p>Category: <a id="click-tag" href='http://127.0.0.1:8000/news/filter/?category={{story.category}}'>{{story.category}} </a></p>
            <p>Published: {{story.pub_date}} </a></p>
        </div>

        <div id="story-wrapper-text-right">
            {% if user.is_authenticated and user == story.author %}
                <p><a id="click-tag" href="{% url 'news:userStoryEdit' story.id %}">Edit</a></p>
                <p><a id="click-tag" href="{% url 'news:userStoryDelete' story.id %}">Delete</a></p>
            {% endif %}
        </div>

    </div>
 
    <div id="story-content">
        <!-- <img src="{% static '/news/images/placeholder-5.jpg' %}"> -->
        {% if story.image_link|length != 0 %}
        <img src="{{ story.image_link }}">
            {% else %}
        <img src="https://picsum.photos/600">
        {% endif %}
        {{ story.content|linebreaks }}
    </div>
</div>

{% endblock %}
        <!-- <a href="{% url 'news:categoryStory' story.category_type %}">{{story.category_type}}</a></h4> -->
