{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <!-- <h4>{{ story.author }}</h4> -->
    <h4> 
        <a href="{% url 'news:userStory' story.author %}">{{story.author}}</a>
    </h4>
    <h4>Category: 
        <a href="{% url 'news:categoryStory' story.category_type %}">{{story.category_type}}</a></h4>
    
    {% if user.is_authenticated %}
        <p><a href="{% url 'news:userStory_edit' story.id %}">Edit</a></p>
    {% endif %}

    <div id="story-content">
        <!-- <img src="{% static '/news/images/placeholder-5.jpg' %}"> -->
        {% if story.image_link|length != 0 %}
        <img src="{{ story.image_link }}">
            {% else %}
        <img src="https://picsum.photos/600">
        {% endif %}
        {{ story.content|linebreaks }}
    </div>
</div>

{% endblock %}
