{% extends "base.html" %}
{% load static %}    

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}



<div id="all-stories">
    {% if object.stories %}
    <div class="story-card", id="story-content">
        <h3>{{ object }}'s story page</h3>
        <p> Number of stories written by {{ object }}: {{object.stories.all|length}}! </p>

    </div>

        {% for story in object.stories.all %}
            {% include "./storyCard.html" with story=story %}
        {% endfor %}

    {% else %}

        <p>No stories have been written by {{object}}.</p>

    {% endif %}
</div>

{% endblock %}
